body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.text-muted {
    color: #777
}
.text-primary {
    color: #1fb4ff
}
p {
    font-size: 14px;
    line-height: 1.75
}
p.large {
    font-size: 16px
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0
}
a {
    color: #1fb4ff
}
a:hover,
a:focus,
a:active,
a.active {
    color: #4dc0fc
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}
hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #ccc; /* old IE */
    background-color: #ccc; /* Modern Browsers */
}
.img-centered {
    margin: 0 auto
}
.bg-light-gray {
    background-color: #f7f7f7
}
.bg-darkest-gray {
    background-color: #222
}

/* Buttons in modals */ 
.btn-primary {
    color: #fff;
    background-color: #1fb4ff;
    border-color: #1fb4ff;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #4dc0fc;
    border-color: #4dc0fc
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #1fb4ff;
    border-color: #1fb4ff
}
.btn-primary .badge {
    color: #1fb4ff;
    background-color: #fff
}

/* Button in contact section */
.btn-xl {
    color: #fff;
    background-color: #1fb4ff;
    border-color: #1fb4ff;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #4dc0fc;
    border-color: #4dc0fc
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: #1fb4ff;
    border-color: #1fb4ff
}


/* Navigation */

.navbar-default {
    background-color: rgba(35, 35, 35, 0.97);
    border-color: transparent
}

/* Blue Hands logo */
.navbar-default .navbar-brand {
    color: #fff;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #1fb4ff
}
.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .2)
}

/* Navbar icon */
.navbar-default .navbar-toggle {
    background-color: rgba(35, 35, 35, 0);
    border-color: rgba(35, 35, 35, 0)
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: rgba(35, 35, 35, 0);
    border-color: rgba(35, 35, 35, 0)
}

/* Navbar meny options */
.navbar-default .nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #1fb4ff;
    outline: 0
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #1fb4ff
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #1fb4ff
}

/* Navbar Responsivness */
@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px
    }
    .navbar-default.navbar-shrink {
        background-color: rgba(35, 35, 35, 0.97);
        padding: 10px 0
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em
    }
}


/* Header */

header {
    background-image: url(../img/escaletor_scaled.jpg);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff
}
header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px
}
header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 25px
}
@media (min-width: 768px) {
    header .intro-text {
        padding-top: 240px;
        padding-bottom: 200px
    }
    header .intro-text .intro-heading {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px
    }
}


/* General section & font styling */

section {
    padding: 100px 0
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px
}
section h3.section-subheading {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 200;
    text-transform: none;
    margin-bottom: 75px
}
@media (min-width: 768px) {
    section {
        padding: 150px 0
    }
}


/* Presentation Section */

#presentation {
    text-align: center;
}

#presentation h1 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 25px
}

#presentation h1.size-medium {
    font-size: 35px;
    line-height: 43px;
}

#presentation h1.size-small {
    font-size: 20px;
    line-height: 30px;
}

#presentation p.small-text {
        font-size: 16px;
        font-weight: 200;
    }

section#presentation {
        padding-top: 0px;
        padding-bottom: 0px
    }

#presentation .info-field {
    padding-top: 75px;
    padding-bottom: 50px;
}

#presentation .form-inline {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 200;
}

#presentation label {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px
}

#presentation input {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
}

@media (min-width: 768px) {
    #presentation h1 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 0;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px
    }   

    #presentation h1.size-medium {
    font-size: 50px;
    line-height: 70px;
    } 

    #presentation h1.size-small {
        font-size: 40px;
        line-height: 60px;
    }

    #presentation p.small-text {
        font-size: 24px;
        font-weight: 200;
    }

    section#presentation {
        padding-top: 0px;
    }

    #presentation .info-field {
    padding-top: 200px;
    padding-bottom: 200px;
    }
}


#presentation .water {
    background-image: url(https://images.unsplash.com/photo-1439508472515-4899b144f04d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=27b9242e714225479603c1e469e419e9);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #f2f2f2;
    height: 100vh;
}

/* Services Section */

#services .service-heading {
    margin: 15px 0;
    text-transform: none
}
#services .services-subheading {
    text-transform: none;
}
#services .services-item {
    margin-bottom: 15px;
}
#services .services-item .services-link {
    position: relative;
}
#services .services-item .services-link .services-caption {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0px;
    padding: 60px 25px;
}
#services .services-item .services-link .services-caption:hover {
    display: none;
}    
#services .services-item .services-link h3 {
    color: #fff;
    font-size: 25px;
    text-transform: none;
}
#services .services-item .services-link p {
    color: #fff;
    font-size: 16px;
    text-transform: none;
    font-weight: 200;
}
#services .services-item .services-link {
    display: block;
    position: relative;
    max-width: 458px;
    margin: 0 auto
}
#services .services-item .services-link .services-hover {
    background: rgba(31, 180, 255, .9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s
}
#services .services-item .services-link .services-hover:hover {
    opacity: 1;
}
#services .services-item .services-link .services-hover .services-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff
}

@media (min-width: 768px) {
    #services .services-item {
        margin-bottom: 30px
    }
}


/* Portfolio Grid Section */

#portfolio .portfolio-item {
    margin-bottom: 15px;
    right: 0
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0
}
#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px
}
#portfolio .portfolio-item .portfolio-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0
}
#portfolio * {
    z-index: 2
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(31, 180, 255, .9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff
}
#portfolio h2.portfolio-subheading1 {
    text-transform: none;
    font-size: 25px;
    margin-top: 50px;
}
#portfolio h2.portfolio-subheading2 {
    text-transform: none;
    font-size: 25px;
    margin-top: 90px;
}
#portfolio h3.section-subheading {
    margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4.read-more {
    margin-top: -12px
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0
}
#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px
}
#portfolio .portfolio-item .portfolio-caption h4 {
    text-transform: none;
    margin: 0
}
#portfolio .portfolio-item .portfolio-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0
}

@media (min-width: 768px) {
    #portfolio .portfolio-item {
        margin-bottom: 30px
    }
}

/* About Section */
#about .services-link .image {
    position: relative;
}
#about .services-item .services-link .image h4 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}

/* Contact Section */

section#contact {
    background-color: #4d4d4d;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat
}
section#contact .section-heading {
    color: #f2f2f2
}
section#contact .section-subheading {
    color: #f2f2f2
}
section#contact .form-group {
    margin-bottom: 25px
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px
}
section#contact .form-group input.form-control {
    height: auto
}
section#contact .form-group textarea.form-control {
    height: 236px
}
section#contact .form-control:focus {
    border-color: #494949;
    box-shadow: none
}
section#contact::-webkit-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}
section#contact:-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}
section#contact::-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}
section#contact:-ms-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}
section#contact .text-danger {
    color: #e74c3c
}


/* Footer */

footer {
    padding: 25px 0;
    text-align: center
}
footer span.copyright {
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}
footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}
ul.social-buttons {
    margin-bottom: 0
}
ul.social-buttons li a {
    display: block;
    background-color: rgba(35, 35, 35, .95);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #1fb4ff
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0
}


/* Portfolio Modals */

.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    min-height: 100%;
    padding: 100px 0;
    text-align: center
}
.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em
}
.portfolio-modal .modal-content p {
    margin-bottom: 30px
}
.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px
}
.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0
}
.portfolio-modal .modal-content img {
    margin-bottom: 30px
}
.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer
}
.portfolio-modal .close-modal:hover {
    opacity: .3
}
.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051
}
.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052
}
.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none
}
::-moz-selection {
    text-shadow: none;
    background: #1fb4ff
}

/* General Styling */
::selection {
    text-shadow: none;
    background: #1fb4ff
}
img::selection {
    background: 0 0
}
img::-moz-selection {
    background: 0 0
}
body {
    webkit-tap-highlight-color: #1fb4ff
}